<% if commentable.comments_count > 0 %>
  <h5>Comments</h5>
  <% commentable.comments.each do |comment| %>
    <article class="container card mb-2 py-2">
      <p><%= comment.body %></p>

      <%= render 'shared/author', text: comment, thumbnail: "thumbnail-sm" %>

      <%= render 'likes/modal', type: "comment", likeable: comment, parent: commentable %>
    </article>
    <small>
      <%= render partial: 'likes/button', locals: { likeable: comment } %>
    </small>
  <% end %>
<% end %>
