<div id="<%= dom_id(comment, "edit_delete")%>" class="d-flex">
  <%# Cannot get edit button to work for posts added with turbo stream %>
  <%# link_to "Edit",
              edit_comment_path(comment),
              class: "me-2" %>
  <%= button_to "Delete",
                comment_path(comment),
                method: :delete,
                data: { turbo_confirm: "Are you sure?" },
                class: "btn btn-sm btn-danger" %>
</div>
