<h1>Users</h1>

<div id="users">
  <% @users.each do |user, friend_request| %>
    <%= render 'user_with_avatar', user: user, avatar_resolution: 100 %>
    <%= render 'friend_buttons', user: user, friend_request: friend_request %>
  <% end %>
</div>
