<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <p>
      <%= link_to user do %>
        <%= render_user_avatar(user, 40, class: "rounded") %>
        <%= user.full_name %>
      <% end %>
    </p>
  <% end %>
</div>
