<h1>Users</h1>

<div id="users">
  <% @users.each do |faceclone_user, friend_request| %>
    <%= render 'user_with_avatar', user: faceclone_user, avatar_resolution: 100 %>
    <%= render 'friend_buttons', user: Current.user, other_user: faceclone_user, friend_request: %>
  <% end %>
</div>
