<div class="container mb-5">
  <%= render @user, friend_request: @friend_request %>
  
  <% if @user == Current.user %>
    <div class="mb-3">
      <%= render partial: 'posts/form', locals: { author: @user, post: Post.new } %>
    </div>
  <% end %>
  
  <%= render partial: 'posts/index', locals: { posts: @posts, user: Current.user } %>
  <%= paginate @posts, theme: 'posts' %>
</div>
