<div class="align-self-center">
  <span
    style="text-decoration: none; width: fit-content"
    title="<%= date_published.localtime.to_fs(:db) %>">
    <i class="bi bi-clock-history"></i>
    <em><%= time_ago_in_words date_published %> ago</em>
  </span>
</div>
