<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<style>
  .pagination {
    padding: .3em;
    margin: .3em;
    font: 13.34px helvetica,arial,freesans,clean,sans-serif;
  }

  .pagination a {
    padding: .1em .3em;
    margin: .2em;
    border: 1px solid #aad;
    text-decoration: none;
    color: #0d6efd;
  }

  .pagination a:hover,
  .pagination a:active {
    border: 1px solid #0d6efd;
    color: #000;
    }

  .pagination span.current {
    padding: .1em .3em;
    margin: .2em;
    border: 1px solid #0d6efd;
    font-weight: bold;
    background-color: #0d6efd;
    color: #FFF;
  }

  .pagination span.disabled {
    padding: .1em .3em;
    margin: .2em;
    border: 1px solid #eee;
    color: #ddd;
  }
</style>
<%= paginator.render do -%>
  <div class="pagination"><%= prev_page_tag -%><%= next_page_tag -%></div>
<% end -%>
