<h1>Friend Requests</h1>
<h2>Sent</h2>
<% @sent_friend_requests.each do |sent| %>
  <%= render '/users/user_with_avatar', user: sent.receiver, avatar_resolution: 100 %>
<% end %>
<h2>Received</h2>
<% @received_friend_requests.each do |received| %>
  <%= render '/users/user_with_avatar', user: received.sender, avatar_resolution: 100 %>
<% end %>
