/* Gets rid of the little dropdown icon on notifications */
.dropdown-toggle::after { content: none; }

a#navbarDropdown { text-decoration: none; }

li.small { list-style-type: none; }

ul.notifications-list { padding-left: 1rem; }
