/* Gets rid of the little dropdown icon on notifications */
.dropdown-toggle::after { content: none; }

a#navbarDropdown { text-decoration: none; }

small.small { margin-left: 1rem; }

ul.notifications-list { padding-left: 1rem; }
