<span class="nav-item dropdown">
  <a href="#" id="navbarNotificationDropdown" class="navlink dropdown-toggle d-flex align-items-center" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="badge rounded-pill bg-danger">
      <span id="notification-count"><%= @unread.size > 9 ? "9+": @unread.size %></span> <i class="bi bi-suit-heart-fill"></i>
    </span>
  </a>
  <ul id="notification-display" class="dropdown-menu dropdown-menu-lg-end">
    <li>
      <small class="small"><i class="bi bi-envelope-exclamation"></i> Unread notifications</small>
      <ul class="notifications-list unread">
        <% if @unread.size > 0 %>
          <% @unread.each do |notification| %>
            <%= render 'layouts/notification', notification: notification %>
          <% end %>
        <% else %>
          <li class="dropdown-item no-unread-notifications">No unread notifications</li>
        <% end %>
      </ul>
    </li>
    
    <li>
      <hr class="dropdown-divider">
    </li>
    
    <li>
      <small class="small"><i class="bi bi-envelope-open"></i> Read notifications</small>
      <ul class="notifications-list">
        <% if @read.size > 0 %>
          <% @read.each do |notification| %>
            <%= render 'layouts/notification', notification: notification %>
          <% end %>
        <% else %>
          <li class="dropdown-item no-read-notifications">No read notifications</li>
        <% end %>
      </ul>
    </li>
  </ul>
</span>
